In [1]:
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing important libraries Pandas and NumPy matpotlib and seaborn
import pandas as pd, numpy as np
import seaborn as sns

#To generate breakpoints
from IPython.core.debugger import set_trace

#Settings on Pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# For Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import matplotlib

# Miscellaneous imports
from datetime import datetime
from scipy.stats import norm
import re

from datetime import datetime, timedelta

In [3]:
# Importing all datasets: Mention Relative path to input data set
sla_df = pd.read_excel (r'./data/input_data_files/sla_breach_time.xlsx')
sla_df_orig=sla_df
sla_df.head()

  Request Number  Location  Approved date & Time  (PST )  SLA breach Time
0            A001       USA          2020-02-01 02:43:00               NaN
1            A002       USA          2020-01-29 23:18:00               NaN
2            A003       USA          2020-02-01 02:55:00               NaN
3            A004       USA          2020-02-01 04:06:00               NaN
4            A005       USA          2020-01-30 00:12:00               NaN

In [4]:
print(sla_df.shape)

(4164, 4)

In [5]:
sla_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4164 entries, 0 to 4163
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Request Number                4164 non-null   object
 1   Location                      4164 non-null   object
 2   Approved date & Time  (PST )  4164 non-null   object
 3   SLA breach Time               0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 130.2+ KB

In [6]:
# Before renaming the columns
print(sla_df.columns)
  
sla_df.columns = ['Request_Number', 'Location', 'Approved_Date_Time','SLA_Breach_Time']
  
# After renaming the columns
print(sla_df.columns)

Index(['Request Number ', 'Location ', 'Approved date & Time  (PST )',
       'SLA breach Time '],
      dtype='object')
Index(['Request_Number', 'Location', 'Approved_Date_Time', 'SLA_Breach_Time'], dtype='object')

In [7]:
sla_df.dtypes

Request_Number         object
Location               object
Approved_Date_Time     object
SLA_Breach_Time       float64
dtype: object

In [8]:
sla_df.head(2)

  Request_Number Location   Approved_Date_Time  SLA_Breach_Time
0           A001      USA  2020-02-01 02:43:00              NaN
1           A002      USA  2020-01-29 23:18:00              NaN

In [9]:
sla_df.drop(['SLA_Breach_Time'], axis = 1,inplace=True)

In [10]:
sla_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4164 entries, 0 to 4163
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request_Number      4164 non-null   object
 1   Location            4164 non-null   object
 2   Approved_Date_Time  4164 non-null   object
dtypes: object(3)
memory usage: 97.7+ KB

In [11]:
# Object to datetime: 
# sla_df['Approved_Date_Time'] =  pd.to_datetime(sla_df['Approved_Date_Time'], format='%Y-%m-%d %H:%M:%S')
# sla_df['Approved_Date_Time'] =  pd.to_datetime(sla_df['Approved_Date_Time']) #format='%d-%m-%Y %H:%M:%S'

In [12]:
# For simplicity sake we just work on the first 80 records, the underlying logic will hold true for all records
sla_df_80=sla_df.head(80)
sla_df_80.shape

(80, 3)

In [13]:
sla_df_80.head(2)

  Request_Number Location   Approved_Date_Time
0           A001      USA  2020-02-01 02:43:00
1           A002      USA  2020-01-29 23:18:00

In [14]:
# verify datatype : its <class 'datetime.datetime'>
print(type(sla_df_80.Approved_Date_Time[0]))

<class 'datetime.datetime'>

In [15]:
# Object to datetime
# sla_df['Approved_Date_Time'] =  pd.to_datetime(sla_df['Approved_Date_Time'], format='%Y-%m-%d %H:%M:%S')
sla_df_80['Approved_Date_Time'] =  pd.to_datetime(sla_df_80['Approved_Date_Time']) #format='%d-%m-%Y %H:%M:%S'

In [16]:
# verify datatype: its <class 'pandas._libs.tslibs.timestamps.Timestamp'>
print(type(sla_df_80.Approved_Date_Time[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

#### Format of `Approved_Date_Time` is yyyy-mm-dd

In [17]:
sla_df_80.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request_Number      80 non-null     object
 1   Location            80 non-null     object
 2   Approved_Date_Time  80 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 2.0+ KB

In [18]:
sla_df_80["Is_Weekend"] = sla_df_80.Approved_Date_Time.dt.day_name().isin(['Saturday', 'Sunday'])

In [19]:
sla_df_80.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request_Number      80 non-null     object
 1   Location            80 non-null     object
 2   Approved_Date_Time  80 non-null     datetime64[ns]
 3   Is_Weekend          80 non-null     bool
dtypes: bool(1), datetime64[ns](1), object(2)
memory usage: 2.1+ KB

In [20]:
sla_df_80.head(10)

  Request_Number Location  Approved_Date_Time  Is_Weekend
0           A001      USA 2020-02-01 02:43:00        True
1           A002      USA 2020-01-29 23:18:00       False
2           A003      USA 2020-02-01 02:55:00        True
3           A004      USA 2020-02-01 04:06:00        True
4           A005      USA 2020-01-30 00:12:00       False
5           A006      USA 2020-02-05 00:00:00       False
6           A007      USA 2020-01-30 00:11:00       False
7           A008      USA 2020-02-01 03:44:00        True
8           A009      USA 2020-01-30 00:10:00       False
9           A010      USA 2020-02-01 01:12:00        True

In [21]:
sla_df_80.tail()

   Request_Number   Location  Approved_Date_Time  Is_Weekend
75           A076  Singapore 2020-01-30 10:39:00       False
76           A077  Singapore 2020-01-30 10:39:00       False
77           A078  Singapore 2020-01-30 20:23:00       False
78           A079  Singapore 2020-01-30 05:47:00       False
79           A080  Singapore 2020-01-30 22:58:00       False

#### Sort Dataframe by Approved_Date_Time

In [22]:
# sla_df_80.sort_values(by='Approved_Date_Time',inplace=True)
# sla_df_80.head()

#### Format of `Approved_Date_Time` is yyyy-mm-dd

In [23]:
# sla_df_80.tail()

In [24]:
sla_df_80['Time'] = sla_df_80.Approved_Date_Time.dt.time

In [25]:
sla_df_80.dtypes

Request_Number                object
Location                      object
Approved_Date_Time    datetime64[ns]
Is_Weekend                      bool
Time                          object
dtype: object

In [26]:
# int(current_date.strftime("%Y%m%d%H%M%S")

In [27]:
# sla_df_80['Time_Int']=sla_df_80.Time.strftime("%H%M%S")

In [28]:
# df['time'] = df['time'].apply(lambda x: x.value)
# df['time'].apply(lambda x: x.value)
# sla_df_80['Date_Int1']=sla_df_80['Approved_Date_Time'].apply(lambda x: x.value)
# sla_df_80.head(2)

In [29]:
# sla_df_80['Date_Int2'] = pd.to_datetime(sla_df_80['Approved_Date_Time']).astype(int)/ 10**9
# sla_df_80.head(2)
# sla_df_80.tail()

In [30]:
sla_df_80['Date'] = sla_df_80.Approved_Date_Time.dt.date

In [31]:
sla_df_80.head(2)

,Request_Number,Location,Approved_Date_Time,Is_Weekend,Time,Date
0,A001,USA,2020-02-01 02:43:00,True,02:43:00,2020-02-01
1,A002,USA,2020-01-29 23:18:00,False,23:18:00,2020-01-29

In [32]:
sla_df_80.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request_Number      80 non-null     object
 1   Location            80 non-null     object
 2   Approved_Date_Time  80 non-null     datetime64[ns]
 3   Is_Weekend          80 non-null     bool
 4   Time                80 non-null     object
 5   Date                80 non-null     object
dtypes: bool(1), datetime64[ns](1), object(4)
memory usage: 3.3+ KB

In [33]:
# startTime=08:00:00
# endTime=17:00:00
# midTime=13:00:00
# sla_duration=4

In [34]:
startTime=pd.to_datetime("08:00:00")
print(startTime)
startTime=pd.to_datetime(startTime)
type(startTime)

2022-01-10 08:00:00

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
# This code is rough skeleton algorithm
# startTime=8am
# endTime=5pm
# midTime=1pm
# sla_duration=4
def calBreachTime_v1(ticketTime,startTime, endTime, midTime,is_weekend, date,sla_duration):
    output=""
    if (is_weekend==True):
        return output 
    elif(ticketTime<=startTime and is_weekend==False):
        output=startTime+4
    elif(ticketTime>=endTime and is_weekend==False):
        output=(date+1)+startTime+4
    elif(ticketTime<=midTime and ticketTime<=endTime and is_weekend==False):
        output=ticketTime+4
    elif(ticketTime>midTime and ticketTime<=endTime and is_weekend==False):
        var=4-(endTime-ticketTime)
        output=(date+1)+startTime+(var)

## Note: How to have function which takes multiple args and returns one output in pandas
- https://www.kite.com/python/answers/how-to-apply-a-function-with-multiple-arguments-to-a-pandas-dataframe-in-python
- https://stackoverflow.com/questions/19914937/applying-function-with-multiple-arguments-to-create-a-new-pandas-column

In [36]:
# def calsum(x,y):
#     output=x+y
#     return output

In [37]:
# calsum(3,2)

In [38]:
# sla_df_80['IntCol1']=10
# sla_df_80['IntCol2']=10

In [39]:
sla_df_80.head(2)

,Request_Number,Location,Approved_Date_Time,Is_Weekend,Time,Date
0,A001,USA,2020-02-01 02:43:00,True,02:43:00,2020-02-01
1,A002,USA,2020-01-29 23:18:00,False,23:18:00,2020-01-29

#### Code from stack over flow
#### df['new_column'] = np.vectorize(fx)(df['A'], df['B'])
- https://stackoverflow.com/questions/19914937/applying-function-with-multiple-arguments-to-create-a-new-pandas-column

In [40]:
# sla_df_80['IntCol3']= np.vectorize(calsum)(sla_df_80['IntCol1'], sla_df_80['IntCol2'])

In [41]:
# sla_df_80.head()

In [42]:
# sla_df_80['IntCol3']=sla_df_80['IntCol1'].apply(calsum, args=(sla_df_80.IntCol2))

In [43]:
# sla_df_80.head(2)

In [44]:
from datetime import datetime, timedelta
# Increment by hour 
updated_hour = ( datetime.now() +timedelta( hours=1 )).strftime("%Y-%m-%d %H:%M:%S")
print(updated_hour)
# Increment by day
updated_date = ( datetime.now() +timedelta( days=1 )).strftime("%Y-%m-%d %H:%M:%S")
print(updated_date)

2022-01-10 22:08:23
2022-01-11 21:08:23

### Create required variables such as startTime, endTime, midTime

In [45]:
sla_df_80['startTime']=pd.to_datetime(sla_df_80.Date.astype(str)+' '+"08:00:00")
sla_df_80['endTime']=pd.to_datetime(sla_df_80.Date.astype(str)+' '+"17:00:00")
sla_df_80['midTime']=pd.to_datetime(sla_df_80.Date.astype(str)+' '+"13:00:00")
sla_df_80.head(2)

,Request_Number,Location,Approved_Date_Time,Is_Weekend,Time,Date,startTime,endTime,midTime
0,A001,USA,2020-02-01 02:43:00,True,02:43:00,2020-02-01,2020-02-01 08:00:00,2020-02-01 17:00:00,2020-02-01 13:00:00
1,A002,USA,2020-01-29 23:18:00,False,23:18:00,2020-01-29,2020-01-29 08:00:00,2020-01-29 17:00:00,2020-01-29 13:00:00

In [46]:
sla_df_80.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request_Number      80 non-null     object
 1   Location            80 non-null     object
 2   Approved_Date_Time  80 non-null     datetime64[ns]
 3   Is_Weekend          80 non-null     bool
 4   Time                80 non-null     object
 5   Date                80 non-null     object
 6   startTime           80 non-null     datetime64[ns]
 7   endTime             80 non-null     datetime64[ns]
 8   midTime             80 non-null     datetime64[ns]
dtypes: bool(1), datetime64[ns](4), object(4)
memory usage: 5.2+ KB

In [47]:
def calBreachTime_v2(ticketTime,startTime, endTime, midTime,is_weekend):
    sla_duration=4
    output=""
    if ((is_weekend==True)):
        output=output
    elif(ticketTime<=startTime and is_weekend==False):
        output=startTime+timedelta( hours=sla_duration )
#         output=startTime+4
    elif(ticketTime>=endTime and is_weekend==False):
        output=startTime+timedelta(days=1)+timedelta( hours=sla_duration )
#         output=(date+1)+startTime+4
    elif(ticketTime<=midTime and is_weekend==False):
        output=ticketTime+timedelta( hours=sla_duration )
#         output=ticketTime+4
    elif(ticketTime>midTime and ticketTime<=endTime and is_weekend==False):
        var=4-(endTime-ticketTime)
        output=startTime+timedelta(days=1)+timedelta( hours=var )
#         output=(date+1)+startTime+(var)
    return output

In [48]:
# sla_df_80['Breach_DateTime']=sla_df_80['Approved_Date_Time'].apply(calBreachTime_v2, args=(sla_df_80.startTime, sla_df_80.endTime,sla_df_80.midTime,sla_df_80.Is_Weekend,4))

In [49]:
# sla_df_80['Breach_Time']= np.vectorize(calBreachTime_v2)(sla_df_80['Approved_Date_Time'], sla_df_80['startTime'],sla_df_80['endTime'],sla_df_80['midTime'],sla_df_80['Is_Weekend'],4)

In [50]:
#  df['newcolumn'] = df.apply(lambda x: fxy(x['A'], x['B']), axis=1)

In [51]:
sla_df_80['Breach_Time']=sla_df_80.apply(lambda x: calBreachTime_v2(x['Approved_Date_Time'], x['startTime'], x['endTime'], x['midTime'], x['Is_Weekend']), axis=1)

In [52]:
sla_df_80.head()

,Request_Number,Location,Approved_Date_Time,Is_Weekend,Time,Date,startTime,endTime,midTime,Breach_Time
0,A001,USA,2020-02-01 02:43:00,True,02:43:00,2020-02-01,2020-02-01 08:00:00,2020-02-01 17:00:00,2020-02-01 13:00:00,NaT
1,A002,USA,2020-01-29 23:18:00,False,23:18:00,2020-01-29,2020-01-29 08:00:00,2020-01-29 17:00:00,2020-01-29 13:00:00,2020-01-30 12:00:00
2,A003,USA,2020-02-01 02:55:00,True,02:55:00,2020-02-01,2020-02-01 08:00:00,2020-02-01 17:00:00,2020-02-01 13:00:00,NaT
3,A004,USA,2020-02-01 04:06:00,True,04:06:00,2020-02-01,2020-02-01 08:00:00,2020-02-01 17:00:00,2020-02-01 13:00:00,NaT
4,A005,USA,2020-01-30 00:12:00,False,00:12:00,2020-01-30,2020-01-30 08:00:00,2020-01-30 17:00:00,2020-01-30 13:00:00,2020-01-30 12:00:00

In [53]:
sla_df_80.tail()

,Request_Number,Location,Approved_Date_Time,Is_Weekend,Time,Date,startTime,endTime,midTime,Breach_Time
75,A076,Singapore,2020-01-30 10:39:00,False,10:39:00,2020-01-30,2020-01-30 08:00:00,2020-01-30 17:00:00,2020-01-30 13:00:00,2020-01-30 14:39:00
76,A077,Singapore,2020-01-30 10:39:00,False,10:39:00,2020-01-30,2020-01-30 08:00:00,2020-01-30 17:00:00,2020-01-30 13:00:00,2020-01-30 14:39:00
77,A078,Singapore,2020-01-30 20:23:00,False,20:23:00,2020-01-30,2020-01-30 08:00:00,2020-01-30 17:00:00,2020-01-30 13:00:00,2020-01-31 12:00:00
78,A079,Singapore,2020-01-30 05:47:00,False,05:47:00,2020-01-30,2020-01-30 08:00:00,2020-01-30 17:00:00,2020-01-30 13:00:00,2020-01-30 12:00:00
79,A080,Singapore,2020-01-30 22:58:00,False,22:58:00,2020-01-30,2020-01-30 08:00:00,2020-01-30 17:00:00,2020-01-30 13:00:00,2020-01-31 12:00:00

#### Write dataframe to excel

In [54]:
#  Mention Relative path to output data set
sla_df_80.to_excel(r"./data/output_data_files/output_data_sla_breach_time.xlsx")

#### Project Complete
- This Project is done by `Achal Kagwad`
- Contact no: +91-9108302174
- Email Id: achal.kagwad@gmail.com
- Linked in: https://www.linkedin.com/in/achalkagwad/

---